<div class="d-flex flex-column flex-shrink-0 p-3 bg-light sidebar" style="width: 250px; height: 100vh;">
    <a routerLink="/dashboard" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
      <span class="fs-4">CORtracker CRM</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/employee-management" routerLinkActive="active" class="nav-link">
          Employee Management
        </a>
      </li>
    </ul>
  </div>
  